
.logoutButton{
    color: rgb(12, 12, 12);
    position: relative;
    top: 50px;
    margin: 0px 20px 0px 20px;
    height: 40px;
    font-weight: 700;
    font-size: 1rem;
    background: peachpuff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: .85rem;
    border-radius: 1rem;
    transition: .25s;
    background:linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    outline: none;
    align-items: center;
    cursor: pointer;
    &:hover{
    background:linear-gradient(to bottom, #ff99cc , #33ccff );
    transition: .25s;
    height:50px;
    }
}

.booksContainer{
    position: relative;
    display:flex;
    flex-direction:"row";
    flex-wrap: wrap;
    justify-content: space-evenly;
    // padding:0 200px;
    flex-basis: 25%;
    width: 70vw;
    left: 15vw;
}

.bookColumn{
    display:flex;
    justify-content:center;
    align-items: center;;
    margin-bottom:30px;
}
.pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    color: rgb(143,43,47);
    &.paginationColor{
        &.selectedColor{
            color:white;
            background-color: black;
        }
}
.paginationColor{
    color:white;

    }
}
.circularProgress{
    position:absolute;
    color:black;
    left:30vw;
    top:30vh;
}